@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* font family */
  --font-quicksand: "Quicksand", sans-serif;

  /* color */
  /* --color-black: #000000;
    --color-white: #FFFFFF; */

  /* breakpoints  */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1700px;
}

@layer base {

  body {
    @apply bg-white font-quicksand text-[#253D4E]
  }

  span {
    @apply inline-block;
  }

  input:focus {
    @apply !shadow-none !outline-0;
  }

  button,
  a {
    @apply transition-all duration-300 cursor-pointer max-h-none inline-block;
  }
}

@layer components {
  .container-custom {
    @apply sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1120px] 2xl:max-w-[1352px] 3xl:max-w-[1620px] mx-auto px-5;
  }
}

@layer utilities {
  /*  */
}
